:root {
  --azul-claro: #6BD1FF;
  --azul: #2271D1;
  --azul-escuro: #001233;
  --verde: #00C86F;
  --laranja: #FFBA05;
  --preto: #000000;
  --branco: #ffffffc1;
  --cor-fundo: #1b1b1b;
  --fonte: 'Roboto' , sans-serif;
}


body {
  background-color: var(--cor-fundo);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
